form{
    border: solid 1px;
    width: 400px;
    margin-left : 450px; 
    padding-left: 10px;
    margin-top: 50px;
    background-color: rgb(35, 120, 117);

}
h1{
 text-align: center;
 background-color: rgb(2, 16, 37);
 font-size: 30px;
 color: darkslateblue;
}
label{
    font-size: 25px;
     font-weight: bold;
     color: indigo;
     
}
input{
    height: 30px;
    width: 250px;
    margin-left: 10px;
    border-radius: 10px;
}
textarea{
    height: 80px;
    width: 250px;
    margin-left:10px;
    border-radius: 10px;
}
button{
    height: 20px ;
    width: 100px;
    margin-left: 10px ;
    background-color: rgb(95, 87, 148);
    color: navy;
    font-size: medium;
    font-weight: 100px;
    border-radius: 1000px;
}
